# --- NextAuth ---
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# --- Base de données SQLite (créée au sprint suivant) ---
DATABASE_URL="file:./dev.db"

# --- WebSocket back-end ---
WS_API_URL=ws://localhost:4001